@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-stone-700;
}

html {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
  font-size: 18px;
  @apply text-lime-300;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0 1rem 0 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  @apply text-white;
}

.link {
  @apply transition hover:text-lime-800;
}

.button {
  @apply bg-lime-500 rounded-md text-black transition hover:bg-lime-800 ;
}

a:not(.link, .button) {
  @apply font-bold underline text-lime-600 transition;
}

a:not(.link, .button):hover {
  @apply text-lime-400;
}

.underline-transition {
  border-bottom: 0.1rem solid white;
  animation: fade-in 0.5s ease-in;
  display: inline-block;
  line-height: 0.9em;
}

.color-transition-lime {
  @apply text-lime-300;
  transition: color 500ms linear;
}

.color-transition-sky {
  @apply text-sky-300;
  transition: color 500ms linear;
}

@keyframes fade-in {
  from { border-color: transparent; }
  to { border-color: white; }
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid white;
  margin-right: auto;
  white-space: nowrap;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.wrapper {
  @apply flex-grow;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 2rem 12%;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 1rem 2rem;
  }
}

li {
  margin-left: 2rem;
}

.list-circle {
  list-style-type: circle;
}

td, th, table {
  @apply border px-3 py-2 border-2 border-black text-black transition-all;
}

th {
  @apply bg-lime-300;
}

td {
  @apply bg-white;
}

select {
  @apply text-black hover:cursor-pointer;
}

/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  .card {
    padding: 2em;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
   */